<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RallyUser" value="james.drager@vce.com" />
    <add key="RallyPass" value="01DeadCat" />
    <add key="IgnoreList" value="I87" />
    <add key="LogPath" value="C:\AutoReportLogs\Logs" />
    <add key="ReportPath" value="C:\AutoReportLogs\Reports" />
    <add key="DBServer" value="MLB-MSSQL2012.ctc.lab.vce.com" />
    <add key="DBName" value="OCTO_RPT" />
    <add key="DBUID" value="octo" />
    <add key="DBPWD" value="Emsee123" />
    <add key="Debug" value="N" />
  </appSettings>
</configuration>