<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RallyUser" value="james.drager@vce.com" />
    <add key="RallyPass" value="01DeadCat" />
    <add key="ReportList" value="I126" />
    <add key="LogPath" value="C:\AutoReportLogs\Logs" />
    <add key="ReportPath" value="C:\AutoReportLogs\Reports" />
    <add key="Debug" value="N" />
  </appSettings>
</configuration>